@model To_DoApp.Models.Task

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Task</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.taskTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.taskTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaskEndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskEndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isDone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isDone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.location)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
